

    * {
        margin: 5 px;
        padding: 10 px;
        list-style-type: none;
        text-decoration: none;
    }
td{
    text-align:left;

}

   thead {
    text-align: center;
    color: chocolate;
    padding: 5px;
   
    
    white-space: normal;
}
    text {
        text-align: center;
        overflow-wrap: break-word;
    }

    

    h1 {
        font-size: 2em;
        color: brown;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 1.5em;
        color: brown;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    

    p {
        text-align: center;
    }
    td {
   text-align: start;

    }

    img.w-100{
        margin-bottom: 5px;
        max-height: 200px;
    }
    header nav img {
        max-height: 35px;
        background-color: burlywood;
    }
    

    img{
        border:1px solid black;
    }

    table img {
        max-width: 100px;
    }


container-fluid {
    background-color: burlywood;
}
header nav image {
    max-height: 40px;
}

html {
    font-family: arial;
}

input {
    border: 1px solid black;
    padding:5px 10px;
    margin-left: 10px;
}
a {
    
    color:brown;
    font-weight: bold;
    line-height: 5px;
    